##
# This comment should have no effect
##

DOUBLE_QUOTED_VAR="one"

SINGLE_QUOTED_VAR='two'
NO_QUOTES_VAR=three

export EXPORT_VAR="four"
HAS_COMMENT_VAR="five" # this is a comment test
HAS_COMMENT_REPLACEMENT_VAR2="six" # this comment should be replaced

# IS_A_COMMENT_VAR="seven"
IS_A_COMMENT_VAR="eight"
IS_A_BOOLEAN_VAR=true